.circle{
    position: fixed;
    left: 0;
    top: 0;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: red;

    animation: scale 1s infinite;

}

@keyframes scale{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(0.1);
    }
}